server {
    listen 1337;
    location / {
        proxy_pass 'http://backend:1337';
    }
}

server {
  listen 3000;
  location / {
      proxy_pass  'http://frontend:3000/';
  }
  location ^~/graphql {
    proxy_pass 'http://backend:1337/graphql';
  }

}
